
@font-face {
  font-family: 'IconicTrial-Bold';
  src: url('IconicTrial-Bold.eot?#iefix') format('embedded-opentype'),  url('IconicTrial-Bold.woff') format('woff'), url('IconicTrial-Bold.ttf')  format('truetype'), url('IconicTrial-Bold.svg#IconicTrial-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
